:8000 {
	header Cache-Control "max-age=0"

	reverse_proxy /api/* https://tetr.io {
		header_up Host {upstream_hostport}
	}
	reverse_proxy /res/* https://tetr.io {
		header_up Host {upstream_hostport}
	}
	reverse_proxy /user-content/* https://tetr.io {
		header_up Host {upstream_hostport}
	}

	file_server {
		root dist
	}
}
